<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title></title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
</head>
<body>
 
      <div ng-app="">
      <label>Insira os trechos nas lacunas</label><br>
      <input type="text" ng-model="primeiro" placeholder="complete"><br>
      <input type="text" ng-model="segundo" placeholder="complete"><br>
	  <input type="text" ng-model="terceiro" placeholder="complete"><br>
	  <input type="text" ng-model="quarto" placeholder="complete"><br>
	  <input type="text" ng-model="quinto" placeholder="complete">

	  <h1>Orfanato - Zimbra</h1>

      <h3>{{primeiro}}, olhei por baixo do lençol</h3>
      <h3>E percebi que onde eu tava {{segundo}}</h3>
      <h3>Então {{terceiro}}</h3>
      <h3>{{quarto}}, eu não gostava do clarão do dia</h3>
      <h3> Honestamente eu preferia o que a {{quinto}} trazia</h3>

  </div>
    
</body>
</html>